          <div class="news">
            {% if site.talks != blank -%}
            {%- assign talks_size = site.talks | size -%}
            <div class="table-responsive">
              <table class="table table-sm table-borderless" cellspacing="0">
              {%- assign talks = site.talks | reverse -%}
              {% if include.limit %}
              {% assign talks_limit = 10 %}
              {% else %}
              {% assign talks_limit = talks_size %}
              {% endif %}
              {% for item in talks limit: talks_limit %}
                <tr>
                  <th scope="row">{{ item.date | date: "%Y" }}</th>
                  <td>
                    {% if item.inline -%}
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%}
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %}
                  </td>
                </tr>
              {%- endfor %}
              </table>
            </div>
          {%- else -%}
            <p>No talks so far...</p>
          {%- endif %}
          </div>